@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://wallpapersmug.com/download/1600x900/7a22c5/forest_mountains_sunset_cool_weather_minimalism.jpg);
}

.caixa-maior {
  width: 95%;
  max-width: 450px;
  background: #000000;
  opacity: 0.8;
  border-radius: 25px;
  padding: 20px;
}

.caixa-media {
  margin-top: 30px;
}

.input-cidade {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  background-color: #7c7c7c2b;
  color: #fff;
  width: calc(100% - 70px);
}

.botao-busca {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 50px;
  background-color: #7c7c7c2b;
  cursor: pointer;
  float: right;
}

.img-busca {
  width: 20px;
}

.cidade {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
}

.temp {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
}

.caixa-menor {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.texto-previsao {
  color: #fff;
  margin-left: 20px;
  text-transform: capitalize;
}

.umidade {
  color: #fff;
  margin-top: 20px;
}
